name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pip-licenses flake8
      - name: Run license-check
        run: > 
          pip-licenses
          --allow-only="
            Apache Software License;
            BSD License;
            Freely Distributable;
            MIT;
            MIT License;
            Mozilla Public License 2.0 (MPL 2.0);
          "
      - name: Run Flake8
        run: flake8
